<div class="panel panel-default">
    <div class="panel-heading"><h3>Эти файлы вы уже загрузили:</h3></div>
    <table class="table table-hover text-left">
        <tbody>
            <tr>
                <td>learn-enough-html-dangerous.xls</td>
                <td class="text-right"><a href="#" class="btn btn-success">Скачать <span class="glyphicon glyphicon-download"> </span></a></td>
            </tr>
            <tr>
                <td>ASIO4ALL v2 Instruction Manual.xls</td>
                <td class="text-right"><a href="#" class="btn btn-success">Скачать <span class="glyphicon glyphicon-download"> </span></a></td>
            </tr>
            <tr>
                <td>CorelDRAW X8 (64-Bit).xls</td>
                <td class="text-right"><a href="#" class="btn btn-success">Скачать <span class="glyphicon glyphicon-download"> </span></a></td>
            </tr>
            <tr>
                <td>Vegas Pro 13.0 (64-bit).xls</td>
                <td class="text-right"><a href="#" class="btn btn-success">Скачать <span class="glyphicon glyphicon-download"> </span></a></td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer text-center">
        <p>Чтобы скачать все файлы в одном <strong>.zip</strong> архиве, нажмите
        <a href="#" class="btn btn-primary btn-md">Скачать всё</a></p>
    </div>
</div>
<p>Для загрузки нового файла, пожалуйста, вернитесь
<a href="#" class="btn btn-default btn-md">На главную</a></p>